@{
    ViewData["Title"] = "Home Page";
}
            <div class="container">

      <div class="row">
        <div class="col-md-6">
            <div style="text-align:center; padding-top:200px;">
                 <h2>HELLO, I AM</h2>
                 <h1 >IFUNANYA</h1>
                 <h1>UGWUJA</h1>
                 <h4>I AM A CRITICAL THINKER,</h4>
                 <h4>REACT || C# || .NET DEVELOPER</h4>
                 <h6>MATHEMATICS + TECHNOLOGY</h6>
                 <form method="get" asp-action="IndexP" asp-controller="Portfolio">
                     <button type="submit">Project</button>
                 </form>
             </div>
            </div>
        <div class="col-md-6">
            <img style="width:600px; height:800px;" src = "image/ify2.png" />
        </div>
    </div>
        </div>
         
         